@model  JPager.Net.PagerResult<ChicST_MM.WEB.Models.BusinessRecReimburseViewModel>

@{

    ViewBag.Title = "接待报销历史记录";
}

@if (Model == null)
{
    <script>
        alert("没有数据！");
        window.history.go(-1);
    </script>
}
else
{
   
    <h3>接待报销记录</h3>
    
    <div>
        <div style="padding-left:2.5%; margin:10px 0;">
            <form action="~/Reimbursement/BusinessRec_IndexView" method="post">
                根据城市查询：
                <input name="searchString" class="search-input" />
                <input type="submit" value="查询" class="city-sure" style="position: relative;top:0;" />

            </form>
        </div>
        <table class="table table-bordered table-striped table-hover " style="text-align:center; table-layout:fixed;">
            <tr>
                <th>操作</th>
                <th>报销人</th>
                <th>城市</th>
                <th>金额</th>
                <th>提交日期</th>
                <th>审批状态</th>
            </tr>
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <td>
                        @Html.ActionLink("查看", "BusinessRec_InfoView", new { id = item.ID ,role = ViewBag.ReCheck })
                       
                                    
                    </td>
                    <td>@item.提交人</td>
                    <td>@item.城市</td>
                    <td>@item.金额</td>
                    <td>@item.提交时间</td>
                    <td>
                        @if (item.审核状态 == null)
                        {
                            <span>未审核</span>
                        }
                        else if (item.审核状态.Value == true)
                        {
                            <span>通过</span>
                        }
                        else
                        {
                            <span>驳回</span>
                        }
                    </td>
                </tr>
            }
        </table>

    </div>
    <div style="padding-left:2.5%; margin:10px 0; text-align:center;">
        @Html.Raw(Model.PagerHtml()) 共 @Model.Total 条
    </div>
}


