@model ChicST_MM.WEB.Models.CarReimViewModel

@if (ViewBag.IsEdit == true)
{

    {
        ViewBag.Title = "车辆报销修改";
    }
    <style>
        #carDetail-wrap,
        #share-wrap {
            width: 95%;
            margin: 0 auto;
        }

        h4 {
            margin: 0;
        }
    </style>
    <h3>修改车辆报销</h3>
    <script>
    $(function () {
          //获取省份数据 (来宾信息添加)
    $.ajax({
        type: "post",
        data: {},
        url: '@Url.Action("GetProvince", "BusinessTrip")',
        dataType: "json",
        cache: false,
        async: true,
        success: function (data) {

            $.each(data, function(i, m) {
                $("#sheng").append("<option value=" + m + ">" + m + "</option>");
                $("#shengE").append("<option value=" + m + ">" + m + "</option>");

            })

        },
        error: function (err) {
            alert(err);
            console.log(err);
        }

        })
          /****添加***/
    //根据选择的省份，获取市数据
    $("#sheng").change(function () {

        var province = $("#sheng").val();
        $("#shi").empty();
        getShi(province, $("#shi"), $("#city"), $("#NowCity"));
    })
    //显示当前选择的城市
        $("#shi").change(function () {
            sureRed();
            showCity($("#city"), $("#sheng").val(), $("#shi").val(), $("#NowCity"));

        })
        /****修改***/
        //根据选择的省份，获取市数据
        $("#shengE").change(function () {
            var province = $("#shengE").val();
            $("#shiE").empty();
            getShi(province, $("#shiE"), $("#cityE"), $("#NowCityE"));
        })
        //显示当前选择的城市
        $("#shiE").change(function () {
            sureRed();
            showCity($("#cityE"), $("#shengE").val(), $("#shiE").val(), $("#NowCityE"));

        })
    //显示当前选择的城市
    function showCity(city, shengVal, shiVal, NowCity) {
        city.val(shengVal + shiVal);
        NowCity.text(city.val());
    }

    //获取市
    function getShi(province, shi, city, NowCity) {

         $.ajax({
                type: "post",
                data: { province: province },
                url: '@Url.Action("GetRgion", "BusinessTrip")',
                dataType: "json",
                cache: false,
                async: true,
                success: function (data) {
                    city.val("");
                    NowCity.text('');
                    shi.append("<option value=''> -请选择- </option>");
                    $.each(data, function(i, m) {

                        shi.append("<option value=" + m[1] + ">" + m[1]  + "</option>")

                    })

                },
                error: function (err) {
                    alert(err);
                    console.log(err);
                }

            })
    }
    })

    </script>

    <form id="mainForm">
        <input type="text" name="ID" value="@Model.ID" class="hidden" />
        <input type="text" name="商务接待ID" value="@Model.商务接待ID" class="hidden" />
        <table class="table table-bordered table-hover table-striped">
            @*<tr>
                    <td>报销人</td>
                    <td></td>
                    <td>部门</td>
                    <td></td>
                </tr>*@
            <tr>
                <td class="bold">车辆数</td>
                <td>

                    <input type="text" name="车辆数" value="@Model.车辆数" class="form-control red"
                           onkeyup="value=value.replace(/[^\d.]/g,'')"
                           onblur="value=value.replace(/[^\d.]/g,'')" placeholder="请输入数字" oninput="sureRed()" />
                    <span class="must" style="color:red;">*该选项为必填项</span>
                </td>
                <td class="bold">搭乘人员</td>
                <td>
                    <input type="text" name="搭乘人员" value="@Model.搭乘人员" class="form-control red" oninput="sureRed()" />
                    <span class="must" style="color:red;">*该选项为必填项</span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 start-date">
                        <span class="bold">用车开始日期</span>&nbsp;&nbsp;
                        <input name="用车开始时间" value="@Model.用车开始时间" class="dateTime search-input red" type='text' placeholder="请选择开始日期" oninput="sureRed()" />
                        <span class="must" style="color:red;">*该选项为必填项</span>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <span class="bold">用车截止日期</span>&nbsp;&nbsp;
                        <input name="用车截止时间" value="@Model.用车截止时间" class="dateTime search-input red" type='text' placeholder="请选择截止日期" oninput="sureRed()" />
                        <span class="must" style="color:red;">*该选项为必填项</span>
                    </div>
                </td>

            </tr>
            <tr>
                <td class="bold">总计花费金额</td>
                <td colspan="3">
                    <input type="text" id="MainMoneyE" name="总计花费金额" value="@Model.总计花费金额" class="form-control red"
                           onkeyup="value=value.replace(/[^\d.]/g,'')"
                           onblur="value=value.replace(/[^\d.]/g,'')" oninput="sureRed()" />
                    <span class="must" style="color:red;">*该选项为必填项</span>
                </td>

            </tr>
            <tr>
                <td class="bold">备注</td>
                <td colspan="3">
                    <input type="text" name="备注" value="@Model.备注" class="form-control" />
                </td>
            </tr>
        </table>

    </form>
    @*车辆明细报销*@

    <div id="carDetail-wrap">

        <h4>车辆报销明细</h4>
        @*添加*@
        <div id="carDetail-diolog">
            <table class="table table-bordered table-hover table-striped tab">

                <tr>
                    <td>报销类型</td>
                    <td>
                        <input type="text" class="form-control" id="reimType" />
                    </td>
                </tr>
                <tr>
                    <td>金额</td>
                    <td>
                        <input type="text" class="form-control" id="detailMoney"
                               onkeyup="value=value.replace(/[^\d]/g,'')"
                               onblur="value=value.replace(/[^\d]/g,'')" placeholder="请输入数字" />
                    </td>
                </tr>

                <tr>
                    <td>备注</td>
                    <td>
                        <input type="text" class="form-control" id="detailNotes" />
                    </td>
                </tr>
            </table>

        </div>
        @*修改*@
        <form id="carDetail-diologE">
            @*来宾信息详情ID*@
            <input type="text" name="ID" value="" id="editID" class="hidden" />
            <input type="text" name="车辆报销ID" value="@Model.ID" class="hidden" />
            <table class="table table-bordered table-hover table-striped tab">
                <tr>
                    <td>报销类型</td>
                    <td>
                        <input type="text" name="报销类型" class="form-control" id="reimTypeE" />
                    </td>
                </tr>
                <tr>
                    <td>金额</td>
                    <td>
                        <input type="text" name="金额" class="form-control" id="detailMoneyE" />
                    </td>
                </tr>

                <tr>
                    <td>备注</td>
                    <td>
                        <input type="text" name="备注" class="form-control" id="detailNotesE" />
                    </td>
                </tr>

            </table>
        </form>
        @*车辆报销明细表格*@
        <div>
            <div style="text-align:start; margin-bottom:10px;">
                <input id="carDetailAdd" type="button" value="添加" class="btn" />
            </div>
            <table id="carDetail-grid"></table>
            <div id="carDetail-pager"></div>
        </div>

    </div>


    @*车辆报销分摊*@

    <div id="share-wrap">

        <h4>车辆报销分摊</h4>
        @*添加*@
        <div id="share-diolog">
            <table class="table table-bordered table-hover table-striped tab">
                <tr>
                    <td>城市</td>
                    <td colspan="3">
                        <select id="sheng" class="search-input">
                            <option value="">-请选择省-</option>
                        </select>
                        <select id="shi" class="search-input " style="margin-top:5px;">
                            <option value="">-请选择市-</option>
                        </select>

                        <div>
                            城市是：<span id="NowCity"></span>
                            <input type="text" id="city" class="" autocomplete="off" />
                        </div>
                        <span class="must" style="color:red;">*该选项为必填项</span>
                    </td>
                </tr>
                <tr>
                    <td>对象类型</td>
                    <td>
                        <select class="form-control" id="Type">
                            <option value="">-请选择-</option>
                            <option value="经销商">经销商</option>
                            <option value="门店">门店</option>
                            <option value="物业">物业</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>对象名称</td>
                    <td>
                        <input type="text" class="form-control" id="Name" />
                    </td>
                </tr>

                <tr>
                    <td>分摊金额</td>
                    <td>
                        <input type="text" class="form-control" id="shareMoney"
                               onkeyup="value=value.replace(/[^\d]/g,'')"
                               onblur="value=value.replace(/[^\d]/g,'')" placeholder="请输入数字" />

                    </td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td>
                        <input type="text" class="form-control" id="shareNotes" />
                    </td>
                </tr>
            </table>
        </div>
        @*修改*@
        <form id="share-diologE">
            @*来宾信息详情ID*@
            <input type="text" name="ID" value="" id="shareEditID" class="hidden" />
            <input type="text" name="车辆报销ID" value="@Model.ID" i class="hidden" />
            <table class="table table-bordered table-hover table-striped tab">
                <tr>
                    <td>城市</td>
                    <td colspan="3">
                        <select id="shengE" class="search-input">
                            <option value="">-请选择省-</option>
                        </select>
                        <select id="shiE" class="search-input" style="margin-top:5px;">
                            <option value="">-请选择市-</option>
                        </select>

                        <div>
                            城市是：<span id="NowCityE"></span>
                            <input type="text" id="cityE" name="城市" class="" autocomplete="off" />
                        </div>
                        <span class="must" style="color:red;">*该选项为必填项</span>
                    </td>
                </tr>
                <tr>
                    <td>对象类型</td>
                    <td>
                        <select class="form-control" id="TypeE" name="对象类型">
                            <option value="">-请选择-</option>
                            <option value="经销商">经销商</option>
                            <option value="门店">门店</option>
                            <option value="物业">物业</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>对象名称</td>
                    <td>
                        <input type="text" name="对象名称" class="form-control" id="NameE" />
                    </td>
                </tr>

                <tr>
                    <td>分摊金额</td>
                    <td>
                        <input type="text" name="分摊金额" class="form-control" id="shareMoneyE"
                               onkeyup="value=value.replace(/[^\d]/g,'')"
                               onblur="value=value.replace(/[^\d]/g,'')" placeholder="请输入数字" />

                    </td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td>
                        <input type="text" name="备注" class="form-control" id="shareNotesE" />
                    </td>
                </tr>
            </table>
        </form>
        @*车辆报销分摊表格*@
        <div>
            <div style="text-align:start; margin-bottom:10px;">
                <input id="shareAdd" type="button" value="添加" class="btn" />
            </div>
            <table id="share-grid"></table>
            <div id="pager"></div>
        </div>

    </div>
    <div class="submit-btns" style="margin-top:10px;">
        <input type="button" name="" value="保存修改" id="subMainForm" class="btn btn-success" />
        &nbsp;&nbsp;
        <input type="button" value="取消" class="btn btn-danger width-7" onclick="javascript:history.back(-1);">
    </div>
    <script>
        var carID = @Model.ID;
         //字符串转日期格式
        $("#mainForm .dateTime").each(function (i, m) {
                    var strTime = m.value;
                    strTime = strTime.split("/周");
                    strTime = strTime[0];
                    m.value = strTime;
                    //console.log(strTime)

                })
    //主表提交
    $("#subMainForm").click(function () {
        var status = false;
        $("#mainForm .red").each(function (i,m) {
            if (m.value == null || m.value == "") {
                return status = true;
            }
        })
        if (status) {
            alert("请完善信息！");
        } else {
            $.ajax({
                url: "@Url.Action("CarReimEdit", "Reimbursement")",
                    type: "POST",
                    data: $("#mainForm").serialize(),
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        console.log(data)
                        if (data.success) {
                            alert(data.msg+"，跳转至详情！");
                            window.location.href = "@Url.Action("CarReimInfoView", "Reimbursement")?id=" + @Model.ID +"&isEdit=" + false +"&role="+false;
                        } else {
                            alert("修改失败！");
                            console.log(data.msg);
                        }
                    },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    })

    /*******************  报销明细 *************************/
     //添加模态框金额实时监测=>数字检测/金额检测
        $('#detailMoney').on({
            input: function (e) {
                var flag = e.target.isNeedPrevent;
                if (flag) return;
                numDetection(detailMoney);
            },
            compositionstart: function (e) {
                e.target.isNeedPrevent = true;
            },
            compositionend: function (e) {
                e.target.isNeedPrevent = false;
            }
        })

        //添加模态金额检测
        function numDetection(detailMoney) {
            detailMoney.value = detailMoney.value.replace(/[^\d.]/g, '');
            var TatolMoney = parseFloat($("#MainMoneyE").val());//主表总金额
            var money = parseFloat($(detailMoney).val());//单个金额
            var sumMoney = 0;//计算副表加上当前单金额
            var sum = 0;//副表表格中金额和
            var data = $("#carDetail-grid").jqGrid("getRowData");//获取jqgrid表格所有数据
            $(data).each(function (i, m) {
                sum += parseFloat(m.金额);
            })
            sumMoney = sum + money;
            if (TatolMoney < money || TatolMoney < sumMoney) {
                alert("分摊金额超出总金额，请重新输入！")
            }
            console.log("总" + TatolMoney)
            console.log("输入" + money)
        }



        $(function () {

        jQuery("#carDetail-grid").jqGrid({
            url: "",
            datatype: "json",
            styleUI: 'Bootstrap',
            mtype: "get",
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', sorttype: "int", align: "center"},
                { label: '报销类型', name: '报销类型', index: '报销类型', align: "center"},
                { label: '金额', name: '金额', index: '金额',  sortable: false, align: "center"},

                { label: '备注', name: '备注', index: '备注', sortable: false, align: "center" },
                { label: '修改', name: 'Edit', index: 'id', sortable: false, align: "center" },
                { label: '删除', name: 'Delete', index: 'id', sortable: false, align: "center" },

            ],
            caption: "车辆报销明细展示",
            loadonce: true,    //排序翻页等操作在服务端完成
            rowNum: 5,
            rowList: [5, 10, 20],  //设置分页下拉列表
            pager: "#pager",
            viewrecords: true,
            width: 500, height: "auto",
            jsonReader: { repeatitems: false }, //prmNames: { id: "No" },
            sortorder: "asc",
            sortname: "No",//传递给服务端的排序字段名
            autowidth: true,
            gridComplete: function () {  //在此事件中循环为每一行添加删除链接
                var ids = jQuery("#carDetail-grid").jqGrid('getDataIDs');

                for (var i = 0; i < ids.length; i++) {

                    var rowId = ids[i];
                    // 通过当前行id获取所需ID
                    var rowData = $("#carDetail-grid").jqGrid('getRowData', rowId);
                    var id = rowData.ID;
                    //console.log(rowId)
                    console.log(id)
                    console.log(rowId)
                    edit = "<span  class='Aspan' onclick='detailEdit(" + id + "," + rowId+")' >修改</span>";
                    del = "<span  class='Aspan' onclick='detailDel(" + id + "," + rowId +")' >删除</span>";

                    jQuery("#carDetail-grid").jqGrid('setRowData', ids[i], { Edit:edit,Delete: del });
                }
            }
        }).navGrid("#carDetail-grid ", { edit: false, add: false, del: false, search: false });


    });

   //配置模态框 添加

    $("#carDetail-diolog").dialog({
        autoOpen: false,
        height: 350,
        width: 660,
        modal: true,
        buttons: {

            "取消": function () { $(this).dialog("close") },
            "提交": function () {
                var reimType = $.trim($("#reimType").val()); //报销类型
                var detailMoney = $.trim($("#detailMoney").val());//金额
                var detailNotes = $.trim($("#detailNotes").val());//备注

                var actionUrl = "@Url.Action("CarReimDetailsAdd", "Reimbursement")";
                var params = {

                    "车辆报销ID": carID,
                    "报销类型": reimType,
                    "金额": detailMoney,
                    "备注": detailNotes,


                };
                var TatolMoney = parseFloat($("#MainMoneyE").val());
                var sumMoney = 0;//计算副表加上当前单金额
                var sum = 0;//副表表格中金额和
                var data = $("#carDetail-grid").jqGrid("getRowData");//获取jqgrid表格所有数据
                $(data).each(function (i, m) {
                    sum += parseFloat(m.金额);
                })
                sumMoney = sum + parseFloat(detailMoney);

                if (TatolMoney < parseFloat(detailMoney) || TatolMoney < sumMoney) {
                    alert("分摊金额超出总金额，请重新输入！")
                }
                else {

                    $.ajax({
                        url: actionUrl,
                        type: "post",   //默认为get
                        data: params,   //传递给服务端的数据
                        dataType: "json",
                        cache: false,
                        error: function (textStatus, errorThrown) {
                            alert("系统ajax交互错误: " + JSON.stringify(textStatus));
                        },
                        success: function (data, textStatus) {
                            console.log(data)
                            if (data.success) {
                                var dataRow = {
                                    "ID": data.data.ID,
                                    "报销类型": data.data.报销类型,
                                    "金额": data.data.金额,
                                    "备注": data.data.备注,
                                };

                                $("#carDetail-grid").jqGrid("addRowData", data.data.ID, dataRow, "last");//没有选定行则添加在第一行

                                $("#carDetail-diolog").dialog("close");
                                alert(data.msg);
                            } else {
                                console.log(data.msg);
                                alert("添加操作失败!");

                            }


                        }
                    });
                }
            }
        }
        });
        //添加按钮
    $("#carDetailAdd")
        .button()
        .click(function () {
            var sum = 0;
            var totalMoney = parseFloat($("#MainMoneyE").val());
            var data = $("#carDetail-grid").jqGrid("getRowData");//获取jqgrid表格所有数据
            var detailMoney = parseFloat($("#detailMoney").val());//当前输入的金额
            $(data).each(function (i, m) {
                sum += parseFloat(m.金额);
            })
            if (totalMoney == sum) {
                alert("当前分摊金额已满！");
            } else if (totalMoney < sum) {
                alert("当前分摊金额已超出，请合理分摊！");
            } else {
                $("#carDetail-diolog").dialog("option", "title", "车辆报销明细填写").dialog("open");
            }
            });

           //修改
    $("#carDetail-diologE").dialog({
            autoOpen: false,
            height: 350,
            width: 660,
            modal: true,
            buttons: {

                "取消": function () { $(this).dialog("close") },
                "提交": function () {

                        //提交模态框的数据
                        $.ajax({
                            url: '@Url.Action("CarReimDetailsEdit", "Reimbursement")',
                            type: "post",   //默认为get
                            data: $("#carDetail-diologE").serialize(),   //传递给服务端的数据
                            dataType: "json",
                            cache: false,
                            success: function (data, textStatus) {
                                console.log(data)

                                if (data.success) {
                                    //页面修改数据
                                    var selectedId = $("#carDetail-grid").jqGrid("getGridParam", "selrow");


                                    var dataRow = {
                                        "ID": data.data.ID,
                                        "报销类型": data.data.报销类型,
                                        "金额": data.data.金额,
                                        "备注": data.data.备注,
                                    };

                                    // 添加成功模态框关闭
                                    $("#carDetail-diologE").dialog("close");
                                    $("#carDetail-grid").jqGrid('setRowData', selectedId, dataRow, { color: "" });

                                    alert(data.msg);
                                } else {
                                    alert("修改失败！");
                                    console.log(data.msg);
                                }


                            },

                            error: function (textStatus, errorThrown) {
                                console.log("系统ajax交互错误: " + JSON.stringify(textStatus));
                            },
                        });


                }
            }
        });
    // 住宿分摊行编辑
    function detailEdit(id,rowId) {
        console.log('当前编辑的是' + rowId)

        var model = $("#carDetail-grid").jqGrid('getRowData', rowId);
        console.log(model)

        // 给修改模态框的赋值
        $("#editID").val(model.ID)
        $("#reimTypeE").val(model.报销类型); //报销类型
        $("#detailMoneyE").val(model.金额); //金额
        $("#detailNotesE").val(model.备注); //备注

        $("#carDetail-diologE").dialog("option", "title", "修改车辆报销明细内容").dialog("open");


    };

    // 行删除
    function detailDel(id,rowId) {
        if (confirm("确定删除当前数据?")) {
            $.ajax({
            url: "@Url.Action("CarReimDetailsDel", "Reimbursement")",
            type: "POST",
            data: { id: id },
            dataType: 'json',
            cache: false,
            error: function (textStatus, errorThrown) { alert("交互错误" + JSON.stringify(textStatus)); },
                success: function (data) {
                if (data) {
                    $("#carDetail-grid").jqGrid("delRowData", rowId);
                    alert(data.msg);
                } else {
                    alert(data.msg);
                }
            }
        });
        }
    };

     /*******************  报销分摊 *************************/
     //添加模态框金额实时监测=>数字检测/金额检测
        $('#shareMoney').on({
            input: function (e) {
                var flag = e.target.isNeedPrevent;
                if (flag) return;
                numDetection(shareMoney);
            },
            compositionstart: function (e) {
                e.target.isNeedPrevent = true;
            },
            compositionend: function (e) {
                e.target.isNeedPrevent = false;
            }
        })

        //添加模态金额检测
    function numDetection(shareMoney) {
        shareMoney.value = shareMoney.value.replace(/[^\d.]/g, '');
            var TatolMoney = parseFloat($("#MainMoneyE").val());//主表总金额
        var money = parseFloat($(shareMoney).val());//单个金额
            var sumMoney = 0;//计算副表加上当前单金额
            var sum = 0;//副表表格中金额和
        var data = $("#share-grid").jqGrid("getRowData");//获取jqgrid表格所有数据
            $(data).each(function (i, m) {
                sum += parseFloat(m.金额);
            })
            sumMoney = sum + money;
            if (TatolMoney < money || TatolMoney < sumMoney) {
                alert("分摊金额超出总金额，请重新输入！")
            }
            console.log("总" + TatolMoney)
            console.log("输入" + money)
        }



        $(function () {

            jQuery("#share-grid").jqGrid({
            url: "",
            datatype: "json",
            styleUI: 'Bootstrap',
            mtype: "get",
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', sorttype: "int", align: "center"},
                { label: '城市', name: '城市', index: '城市', align: "center"},
                { label: '对象类型', name: '对象类型', index: '对象类型',  sortable: false, align: "center"},
                { label: '对象名称', name: '对象名称', index: '对象名称', sortable: false, align: "center" },
                { label: '分摊金额', name: '分摊金额', index: '分摊金额', sortable: false, align: "center" },
                { label: '修改', name: 'Edit', index: 'id', sortable: false, align: "center" },
                { label: '删除', name: 'Delete', index: 'id', sortable: false, align: "center" },

            ],
            caption: "车辆报销分摊展示",
            loadonce: true,    //排序翻页等操作在服务端完成
            rowNum: 5,
            rowList: [5, 10, 20],  //设置分页下拉列表
            pager: "#pager",
            viewrecords: true,
            width: 500, height: "auto",
            jsonReader: { repeatitems: false }, //prmNames: { id: "No" },
            sortorder: "asc",
            sortname: "No",//传递给服务端的排序字段名
            autowidth: true,
            gridComplete: function () {  //在此事件中循环为每一行添加删除链接
                var ids = jQuery("#share-grid").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {

                    var rowId = ids[i];
                    // 通过当前行id获取所需ID
                    var rowData = $("#share-grid").jqGrid('getRowData', rowId);
                    var id = rowData.ID;
                    edit = "<span  class='Aspan' onclick='shareEdit(" + id + "," + rowId +")' >修改</span>";
                    del = "<span  class='Aspan' onclick='shareDel(" + id + "," + rowId +")' >删除</span>";

                    jQuery("#share-grid").jqGrid('setRowData', ids[i], { Edit:edit,Delete: del });
                }
            }
            }).navGrid("#share-grid ", { edit: false, add: false, del: false, search: false });


    });

   //配置模态框 添加
    $("#share-diolog").dialog({
        autoOpen: false,
        height: 450,
        width: 660,
        modal: true,
        buttons: {

            "取消": function () { $(this).dialog("close") },
            "提交": function () {

                var city = $.trim($("#city").val()); //城市
                var Type = $.trim($("#Type").val());//对象类型
                var Name = $.trim($("#Name").val());//对象名称
                var shareMoney = $.trim($("#shareMoney").val());//分摊金额
                var shareNotes = $.trim($("#shareNotes").val());//备注
                var actionUrl = "@Url.Action("CarReimSharingAdd", "Reimbursement")";
                var params = {

                    "车辆报销ID": carID,
                    "城市": city,
                    "对象类型": Type,
                    "对象名称": Name,
                    "分摊金额": shareMoney,
                    "备注": shareNotes



                };
                var TatolMoney = parseFloat($("#MainMoneyE").val());
                var sumMoney = 0;//计算副表加上当前单金额
                var sum = 0;//副表表格中金额和
                var data = $("#share-grid").jqGrid("getRowData");//获取jqgrid表格所有数据
                $(data).each(function (i, m) {
                    sum += parseFloat(m.金额);
                })
                sumMoney = sum + parseFloat(shareMoney);

                if (TatolMoney < parseFloat(shareMoney) || TatolMoney < sumMoney) {
                    alert("分摊金额超出总金额，请重新输入！")
                }
                else {
                    if ($("#city").val() != "" || $("#city").val() != null) {
                        $.ajax({
                            url: actionUrl,
                            type: "post",   //默认为get
                            data: params,   //传递给服务端的数据
                            dataType: "json",
                            cache: false,
                            error: function (textStatus, errorThrown) {
                                alert("系统ajax交互错误: " + JSON.stringify(textStatus));
                            },
                            success: function (data, textStatus) {
                                console.log(data)
                                if (data.success) {
                                    var dataRow = {
                                        "ID": data.data.ID,
                                        "城市": data.data.城市,
                                        "对象类型": data.data.对象类型,
                                        "对象名称": data.data.对象名称,
                                        "分摊金额": data.data.分摊金额,
                                        "备注": data.data.备注
                                    };

                                    $("#share-grid").jqGrid("addRowData", data.data.ID, dataRow, "last");//没有选定行则添加在第一行

                                    $("#share-diolog").dialog("close");
                                    alert(data.msg);
                                } else {
                                    console.log(data.msg);
                                    alert("添加操作失败!");

                                }


                            }
                        });
                    } else {
                        alert("城市不能为空！")
                    }
                }
            }
        }
        });
        //添加按钮
    $("#shareAdd")
        .button()
        .click(function () {
            var sum = 0;
            var totalMoney = parseFloat($("#MainMoneyE").val());
            var data = $("#share-grid").jqGrid("getRowData");//获取jqgrid表格所有数据

            $(data).each(function (i, m) {
                sum += parseFloat(m.金额);
            })
            if (totalMoney == sum) {
                alert("当前分摊金额已满！");
            } else if (totalMoney < sum) {
                alert("当前分摊金额已超出，请合理分摊！");
            } else {
                $("#share-diolog").dialog("option", "title", "车辆报销分摊填写").dialog("open");
            }
            });

           //修改
    $("#share-diologE").dialog({
            autoOpen: false,
            height: 450,
            width: 660,
            modal: true,
            buttons: {

                "取消": function () { $(this).dialog("close") },
                "提交": function () {
                    if ($("#cityE").val() != "" || $("#cityE").val() != null) {
                        //提交模态框的数据
                        $.ajax({
                            url: '@Url.Action("CarReimSharingEdit", "Reimbursement")',
                            type: "post",   //默认为get
                            data: $("#share-diologE").serialize(),   //传递给服务端的数据
                            dataType: "json",
                            cache: false,
                            success: function (data, textStatus) {
                                console.log(data)

                                if (data.success) {
                                    //页面修改数据
                                    var selectedId = $("#share-grid").jqGrid("getGridParam", "selrow");


                                    var dataRow = {
                                        "ID": data.data.ID,
                                        "城市": data.data.城市,
                                        "对象类型": data.data.对象类型,
                                        "对象名称": data.data.对象名称,
                                        "分摊金额": data.data.分摊金额,
                                        "备注": data.data.备注
                                    };

                                    // 添加成功模态框关闭
                                    $("#share-diologE").dialog("close");
                                    $("#share-grid").jqGrid('setRowData', selectedId, dataRow, { color: "" });

                                    alert(data.msg);
                                } else {
                                    alert("修改失败！");
                                    console.log(data.msg);
                                }


                            },

                            error: function (textStatus, errorThrown) {
                                console.log("系统ajax交互错误: " + JSON.stringify(textStatus));
                            },
                        });
                    } else {
                        alert("城市不能为空！")
                    }

                }
            }
        });
    // 车辆分摊行编辑
    function shareEdit(id,rowId) {
        //console.log('当前编辑的是'+id)

        var model = $("#share-grid").jqGrid('getRowData', rowId);
        console.log(model)

        // 给修改模态框的赋值
        $("#shareEditID").val(model.ID)
        $("#cityE").val(model.城市); //城市
        $("#NowCityE").text(model.城市); //文本城市
        $("#TypeE").val(model.对象类型);//对象类型
        $("#NameE").val(model.对象名称);//对象名称
        $("#shareMoneyE").val(model.分摊金额);//分摊金额
        $("#shareNotes").val(model.备注);//备注

        $("#share-diologE").dialog("option", "title", "修改车辆报销分摊内容").dialog("open");


    };

    // 行删除
    function shareDel(id,rowId) {
        if (confirm("确定删除当前数据?")) {
            $.ajax({
            url: "@Url.Action("CarReimSharingDel", "Reimbursement")",
            type: "POST",
            data: { id: id },
            dataType: 'json',
            cache: false,
            error: function (textStatus, errorThrown) { alert("交互错误" + JSON.stringify(textStatus)); },
                success: function (data) {
                if (data) {
                    $("#share-grid").jqGrid("delRowData", rowId);
                    alert(data.msg);
                } else {
                    alert(data.msg);
                }
            }
        });
        }
    };
    //前往详情页
    function goDetail() {
        window.location.href = "@Url.Action("","")"
    }
    </script>

}
else
{
    {
        ViewBag.Title = "车辆报销详情";
    }
    <h3>车辆报销详情</h3>
    @Html.ActionLink("修改车辆报销", "CarReimInfoView", new { id = Model.ID, isEdit = true, role = false },new { style="margin-left:2.5%;"})
    <table class="table table-bordered table-hover table-striped">
        @*<tr>
                <td>提交人</td>
                <td>@Model.提交人</td>
                <td>部门</td>
                <td>@Model.</td>
            </tr>*@
        <tr>
            <td class="bold">车辆数</td>
            <td>@Model.车辆数</td>
            <td class="bold">搭乘人员</td>
            <td>@Model.搭乘人员</td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 start-date">
                    <span class="bold">用车开始日期</span>&nbsp;&nbsp;
                    <span>@Model.用车开始时间</span>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <span class="bold">用车截止日期</span>&nbsp;&nbsp;
                    <span>@Model.用车截止时间</span>
                </div>
            </td>

        </tr>
        <tr>
            <td class="bold">总计花费金额</td>
            <td colspan="3">@Model.总计花费金额</td>

        </tr>
        <tr>
            <td class="bold">备注</td>
            <td colspan="3">@Model.备注</td>
        </tr>
        <tr>
            <td class="bold">提交人</td>
            <td>@Model.提交人</td>
            <td class="bold">提交时间</td>
            <td>@Model.提交时间</td>
        </tr>
    </table>
    <table class="table table-bordered table-hover table-striped" id="detail-Tab">
        <tr>
            <td colspan="4">车辆报销明细</td>
        </tr>
        <tr>
            <th>ID</th>
            <th>报销类型</th>
            <th>金额</th>
            <th>备注</th>
        </tr>
    </table>
    <table class="table table-bordered table-hover table-striped" id="share-Tab">
        <tr>
            <td colspan="6">车辆报销分摊</td>
        </tr>
        <tr>
            <th>ID</th>
            <th>城市</th>
            <th>对象类型</th>
            <th>对象名称</th>
            <th>分摊金额</th>
            <th>备注</th>
        </tr>
    </table>
}
<script>
    //获取车辆明细数据
    $.ajax({
        url: "@Url.Action("CarReimDetailsInfo", "Reimbursement")",
        type: "POST",
        data: { id: @Model.ID },
        dataType: 'json',
        cache: false,
        error: function (textStatus, errorThrown) { alert("交互错误" + JSON.stringify(textStatus)); },
        success: function (data) {
            console.log(data)
            if (data.length == 0) {
                return alert("车辆报销明细没有数据！")
            } else {
                $(data).each(function (i, m) {
                    $("#detail-Tab").append("<tr><td>" + m.ID + "</td><td>" + m.报销类型 + "</td><td>" + m.金额 + "</td><td>" + m.备注 + "</td></tr>")
                })
                // 赋值
               var mydata = data;

                //添加到表格
                for (var i = 0; i <= mydata.length; i++) {
                    //console.log(mydata)
                    jQuery("#carDetail-grid").jqGrid('addRowData', i + 1, mydata[i]);
                }


            }



        }
    })
    //获取车辆分摊数据
    $.ajax({
        url: "@Url.Action("CarReimSharingInfo", "Reimbursement")",
        type: "POST",
        data: { id: @Model.ID },
        dataType: 'json',
        cache: false,
        error: function (textStatus, errorThrown) { alert("交互错误" + JSON.stringify(textStatus)); },
        success: function (data) {
            console.log(data)
            if (data.data.length != 0) {
                $(data.data).each(function (i, m) {
                    $("#share-Tab").append("<tr><td>" + m.ID + "</td><td>" + m.城市 + "</td><td>" + m.对象类型 + "</td><td>" + m.对象名称 + "</td><td>" + m.分摊金额 + "</td><td>" + m.备注 + "</td></tr>")
                })
                // 赋值
                var mydata = data.data;

                //添加到表格
                for (var i = 0; i <= mydata.length; i++) {
                    //console.log(mydata)
                    jQuery("#share-grid").jqGrid('addRowData', i + 1, mydata[i]);
                }

            } else {
                alert("车辆分摊没有数据！");
            }
        }
    })
</script>

