@model JPager.Net.PagerResult<ChicST_MM.WEB.Models.OtherReimburseViewModel>

@{
    ViewBag.Title = "其他报销历史记录";
}

<div>
    <h3>其他报销历史记录</h3>
    <a href="@Url.Action("ApplyOtherReimbursementView","Reimbursement")" style="margin-left:2.5%;">其他报销申请</a>
</div>
<div>
    <div style="padding-left:2.5%; margin:10px 0;">
        <form action="~/Reimbursement/OtherReimbursementHistoryView" method="post">
            根据汇款银行查询：
            <input name="searchString" class="search-input" />
            <input type="submit" value="查询" class="city-sure" style="position: relative;top:0;" />

        </form>
    </div>
    <table class="table table-bordered table-striped table-hover " style="text-align:center; table-layout:fixed;">
        <tr>
            <th>操作</th>
            <th>报销人</th>
            <th>报销部门</th>
            <th>汇款银行</th>
            <th>报销总金额</th>
            <th>提交日期</th>
            <th>审批状态</th>
        </tr>
        @foreach (var item in Model.DataList)
        {
        <tr>
            <td>@Html.ActionLink("查看", "OtherReimbursement_DetailsView", new { id = item.ID })</td>
            <td>@item.报销人</td>
            <td>@item.报销部门</td>
            <td>@item.汇款银行</td>
           
            @{
                decimal total = 0;
                foreach (var money in item.财务_其他报销_副表)
                {

                    total += money.金额;
                }
                <td>@total</td>
            }

            <td>@item.提交日期</td>
            <td>
                @if (item.审核状态 == null)
                {
                    <span>未审核</span>
                }
                else if (item.审核状态.Value == true)
                {
                    <span>通过</span>
                }
                else
                {
                    <span>驳回</span>
                }
            </td>
        </tr>
        }
    </table>

</div>
<div style="padding-left:2.5%; margin:10px 0; text-align:center;">
    @Html.Raw(Model.PagerHtml()) 共 @Model.Total 条
</div>

